# Node
node_modules/
dist/
dist-ssr/
*.local

# Rust & Tauri
src-tauri/target/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS & Temp
.DS_Store
Thumbs.db
*.tmp
*.exe

# Local App Data & Config
config.json
storage.json
agent_index.json
*.bak
